/* ---------------- */
/* --- GENERAL --- */
:root {
  --mainBlue: #0a3d62;
  --lightBlue: #009ffd;
  --mainWhite: #f5f6fa;
  --secondWhite: #dcdde1;
  --mainDark: #222f3e;
  --lightDark: #aac1cf;
  --mainYellow: #ffb142;
  --mainGreen: #10ac84;
  --lightGreen: #44bd32;
}

body {
  background: white !important;
  font-family: "Lato", sans-serif !important;
  color: var(--mainDark) !important;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

/* ---------------- */
/* ---- SPECS ---- */
.main-title {
  color: var(--mainGreen);
}

.main-title-second {
  color: #0a3d62;
}

.ion-md-laptop {
  color: var(--mainWhite);
  font-size: 32px;
}

.ion-md-laptop:hover {
  color: var(--secondWhite);
}

.nav-btn {
  background-color: var(--lightGreen) !important;
  color: white !important;
  border-color: transparent !important;
}

.nav-btn:hover {
  background-color: white !important;
  color: var(--lightGreen) !important;
}

.card-footer {
  border-radius: 0 !important;
}

.incart-p {
  font-size: 22px !important;
  color: var(--mainBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
  cursor: pointer;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.3rem;
  color: #c0392b;
}

.cart-title {
  margin-top: 200px !important;
}

.ion-ios-close {
  font-size: 30px;
}

.cart-big {
  font-size: 20rem;
  color: var(--secondWhite);
}

.cart-page {
  margin-bottom: 25rem;
}

.show-latest {
  margin-top: 5rem;
  color: var(--mainBlue);
}

.fa-caret-square-down {
  cursor: pointer;
}
