:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #fbfbfb;
  --mainDark: #232528;
  --mainYellow: #ffa400;


}

body {
  background: white !important;
  font-family: 'Roboto', sans-serif !important;
  color: var(--mainDark) !important;
}

.main-title {
  color: #10ac84
}

.main-title-second {
  color: #0a3d62;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.ion-md-laptop {
  color: var(--mainWhite);
  font-size: 32px;
}

.ion-md-laptop:hover {
  color: wheat;
}

.nav-btn {
  background-color: rgb(41, 175, 23) !important;
  color: white !important;
  border-color:  rgb(41, 175, 23) !important;
}

.nav-btn:hover{
  background-color: white !important;
  color: rgb(41, 175, 23) !important;
  border-color:  white !important;
}